body {
    background-color: #fa6a36;
    font-size: 20px;
}

.login,.registration {
    color: black;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height:360px ;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login h1 ,.registration h1 {
   padding: 20px;
   font-size: 20px;
   margin-bottom: -20px;
   margin-top: 10px;
   font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login input, .registration input{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border-top: 0px ;
    border-left: 0px ;
    border-right: 0px ;
    border: 0px;
    color: black;
    border-bottom: 1px solid black;
}
.loginbox, .registrationbox  {
    margin:70px 0px;
    font-size: 20px;
}
#submit {
    background-color: rgb(13, 75, 209);
    color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10%;
    border:  none;
    
}